.login__btn{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition-property: color, transform;
    transition-duration: 250ms;

    &:hover{
      color: #e1e1e1;
      transform: scale(1.1);
    }
}

header{
    background-image: url("/img/herod@3x.png");
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  header {
    background-image: url("/img/herod@2x.png");
  }
}
