.login__btn{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header{
    background-image: url("../../img/hero.png");
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
}